h1 {
  color: orange;
  font-weight: bold;
  text-align: right;
}

p::first-letter {
  color: red;
  font-size: 30px;
}

em {
  background-color: green;
  color: white;
}

h2 {
  color: blue;
}

p + h2 {
  color: orange;
}

span {
  font-weight: bold;
}

ul + h2 + ul ol > li {
  color: green;
}

p + h2 + ul ol > li {
  color: gray;
}

ul > li + li > ol > li {
  color: red;
}

/*Оформление таблицы. Вариант 1*/

table {
  border: 1px solid black;
  width: 400px;
}

td {
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

tr + tr + tr > td {
  color: orange;
  font-weight: normal;
  text-align: left;
}

tr + tr + tr > td + td {
  background-color: green;
  font-weight: normal;
  color: white;
  text-align: center;
}

/*Оформление таблицы. Вариант 2 - через псевдоклассы.*/

/*table {*/
/*  border: 1px solid black;*/
/*  width: 400px;*/
/*}*/

/*td {*/
/*  border: 1px solid black;*/
/*  text-align: center;*/
/*  font-weight: bold;*/
/*}*/

/*tr:nth-child(n+3) td:first-child {*/
/*  color: orange;*/
/*  font-weight: normal;*/
/*  text-align: left;*/
/*}*/

/*tr:nth-child(n+3) td:not(:first-child) {*/
/*  background-color: green;*/
/*  font-weight: normal;*/
/*  color: white;*/
/*}*/
